<div class="stream">
  <div class="previews">
    <% if (stream.pictures.length > 2) { %>
    <div class="preview deg30">
      <div class="image" style="background-image: url('<%= stream.pictures[2].path %>')"></div>
    </div>
    <% } %>
    <% if (stream.pictures.length > 1) { %>
    <div class="preview deg30m">
      <div class="image" style="background-image: url('<%= stream.pictures[1].path %>')"></div>
    </div>
    <% } %>
    <div class="preview">
      <div class="image" <% if (stream.pictures.length > 0) { %>style="background-image: url('<%= stream.pictures[0].path %>')"<% } %>></div>
    <div class="details">
      <strong><%- linkStream(stream) %></strong>
      <span class="detail"><i class="fui-heart"></i> 32</span>
      <span class="detail"><i class="fui-eye"></i> 32</span>
      <span class="detail"><i class="fui-image"></i> <%= stream.pictures.length %></span>
    </div>
  </div>
</div>
</div>
