<% include partials/head %>

<div class="row-fluid">
  <div id="sidebar" class="span3 side">
    <% include partials/user_actions %>
    <div class="roundfaces">
      <a href="/user/<%= page.username %>" class="roundface small" style="background-image: url(<%= pictureUrl(page) %>)"></a>
      <a href="/stream/<%= stream.url%>"><img src="<%= stream.pictures[0] ? stream.pictures[0].path : '/images/icons/Camera@2x.png' %>" alt="" class="squareface"></a>
      <h4><%- linkUser(page)%> / <%- linkStream(stream, "text-info")%></h4>
    </div>
    <!--<div class="btn-col">
      <a href="#fakelink" class="btn btn-huge btn-block btn-success btn-embossed">Focus</a>
    </div>-->
    <% include partials/user_list %>
  </div>
  <% include partials/stream %>
</div>

<% include partials/foot %>